.container{
  display: flex;
  flex-direction: row;
  width: auto;
}
.prev, .next{
  margin: 5%;
}
.photo{
  height: auto;
  width: 40%;
}
/* .prev{

  float: left;
}
.next{
  display: block;
  float: right;
} */
